
<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Wallet Preferences'; closeToHome = true">
</div>


<div class="content preferences" ng-controller="preferencesController as preferences" ng-init="preferences.init()">

  <h4></h4>

  <ul class="no-bullet m0" ng-show="!index.noFocusedWallet">

    <li  ng-click="$root.go('preferencesAlias')">
      <div class="right text-gray">
        {{index.alias||index.walletName}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Alias</div>
    </li>

    <li ng-click="$root.go('preferencesEmail')">
      <div class="right text-gray">
        <span ng-if="!index.preferences.email" translate>Disabled</span>
        <span ng-if="index.preferences.email">{{index.preferences.email}}</span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Email Notifications</div>
    </li>

    <li ng-hide="index.noUserColors" ng-click="$root.go('preferencesColor')">
      <div class="right text-gray">
        <span ng-style="{'color':index.backgroundColor}">&block;</span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>      
      <div translate>Color</div>
    </li>

    <li ng-show="index.isPrivKeyExternal">
      <div class="right text-gray">
        {{preferences.externalSource}} 
        <!-- (Accont {{preferences.externalAccount}}) -->
      </div>
      <div translate>Hardware wallet</div>
    </li> 

    <li ng-click="$root.go('backup')"  ng-hide="index.isPrivKeyExternal">
      <div class="right text-gray">
        <span class="text-warning" ng-show="index.needsBackup">
          <i class="fi-alert"></i> <span translate>Not completed</span>
        </span>
        <i class="icon-arrow-right3 size-24 text-gray"></i>
      </div>
      <div translate>Backup</div>
    </li>

    <li ng-click="$root.go('preferencesAdvanced')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <div translate>Advanced</div>
    </li>

  </ul>

  <h4 translate  ng-show="index.canSign || !deleted">
    Security preferences
  </h4>

  <div ng-show="!index.noFocusedWallet && index.canSign">

    <ul class="no-bullet m0">

      <li>
        <switch id="network-name" name="encrypt" ng-model="encrypt" class="green right"></switch>
        <div translate>Request Password</div>
      </li>

      <li  ng-show="preferences.touchidAvailable">
        <switch id="touchid" name="touchid" ng-model="touchid" class="green right"></switch>
        <div translate>Scan Fingerprint</div>
      </li>
    </ul>

  </div>
  <div ng-show ="!deleted">

    <ul class="no-bullet m0">
      <li ng-click="$root.go('deleteWords')">
        <i class="icon-arrow-right3 size-24 right text-gray"></i>
        <div translate>Delete seed words</div>
      </li>
    </ul>

  </div>

 <h4></h4>
</div>

<div class="extra-margin-bottom"></div>
