<div class="bottom-bar row collapse" ng-show="!index.notAuthorized">
    <div>
        <div class="row collapse">
            <div class="medium-4 small-4 columns text-center bottombar-item"
                 ng-repeat="item in index.menu">
              <span ng-include="'views/includes/menu-item.html'"></span>
            </div>
        </div>
    </div>
</div>


